:root {
  --primary-color: #fea910;
  --secondary-color: #271408;
  --secondary-color-200: #693c20;
  --primary-color-200: #fff4df;
  --light: #eae7e4;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Raleway;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: chewy;
  font-style: normal;
  font-weight: normal;
  src: url("/public/fonts/Chewy.ttf");
}
